<footer class="footer-container">

  <div class="footer-content">

    <!-- LOGOS -->
    <div class="footer-logos">
      <img
        src="unl-logo-blanco.png"
        class="logo-unl"
        alt="Universidad Nacional de Loja">
    </div>

    <!-- INFORMACIÓN -->
    <div class="footer-info">
      <p class="footer-title">
        Ciudad Universitaria Guillermo Falconí – Loja, Ecuador
      </p>

      <p class="footer-item">
        <i class="fas fa-phone-alt icon"></i>
        07 2593550 (Opción 1 – Modalidad Presencial)
      </p>

      <p class="footer-item">
        <i class="fas fa-phone-alt icon"></i>
        07 2593550 (Opción 2 – Modalidad Distancia)
      </p>

      <p class="footer-item">
        <i class="fas fa-envelope icon"></i>
        comunicacion&#64;unl.edu.ec

      </p>


    </div>

  </div>

  <!-- CRÉDITOS -->
  <div class="footer-credits">
  <i class="fas fa-code"></i>
  Desarrollado por <strong>Michael Jiménez</strong> ·
  Proyecto académico – 2025
</div>


</footer>
