<div class="fase-card">

  <!-- CABECERA -->
  <div class="fase-header">
    <app-progreso-radial [porcentaje]="fase.progreso"></app-progreso-radial>

    <div class="fase-titulo">
      <i class="fas" [ngClass]="{
         'fa-seedling': fase.nombre === 'Siembra',
         'fa-leaf': fase.nombre === 'Cultivo',
         'fa-tractor': fase.nombre === 'Cosecha'
       }">
      </i>

      <div>
        <h2>{{ fase.nombre }}</h2>
        <p class="subtitulo">Seguimiento: {{ fase.dias }} días</p>
      </div>
    </div>
  </div>


  <!-- ACTIVIDADES -->
  <div class="actividades">

    <div class="actividad" *ngFor="let actividad of fase.actividades">

      <!-- SWITCH ON/OFF -->
      <label class="switch">
        <input type="checkbox" [(ngModel)]="actividad.activa" (change)="actualizarActividad()">
        <span class="slider round"></span>
      </label>

      <!-- CHECK (se bloquea si no está activa) -->
      <label>
        <input type="checkbox" [disabled]="!actividad.activa" [(ngModel)]="actividad.completada"
          (change)="actualizarActividad()">
      </label>

      <!-- NOMBRE + PORCENTAJE INDIVIDUAL -->
      <div class="actividad-info">

        <!-- INPUT solo cuando es nueva -->
        <input *ngIf="actividad.esNueva" type="text" class="input-nombre" [(ngModel)]="actividad.nombre"
          placeholder="Nombre de la actividad" (blur)="confirmarNuevaActividad(actividad)"
          (keyup.enter)="confirmarNuevaActividad(actividad)" />

        <!-- TEXTO cuando ya existe -->
        <span *ngIf="!actividad.esNueva" class="actividad-nombre">
          {{ actividad.nombre }}
        </span>

        <!-- CF / CV -->
        <span *ngIf="actividad.tipoCosto" class="tipo-costo" [ngClass]="actividad.tipoCosto === 'CF' ? 'cf' : 'cv'">
          {{ actividad.tipoCosto }}

        </span>

        <!-- PORCENTAJE -->
        <span class="porcentaje-actividad">
          {{ actividad.porcentaje }}%
        </span>

      </div>

      <!-- COSTO -->
      <input class="input-costo" type="number" [(ngModel)]="actividad.costo" (change)="actualizarActividad()"
        [disabled]="!actividad.activa">

      <span>ha</span>

      <!-- ELIMINAR -->
      <button class="eliminar" type="button" (click)="eliminarActividad(actividad.id)">
        ✕
      </button>

    </div>

  </div>

  <!-- COSTO TOTAL -->
  <div class="costo-fase">
    Costo total {{ fase.nombre }} por 1 ha:
    <strong>${{ fase.costoTotal | number:'1.2-2' }}</strong>
  </div>

  <button class="btn-agregar" type="button" (click)="agregarActividad()">
    + Nueva actividad
  </button>
</div>
