<div class="pagina">

  <header class="encabezado">
    <h1>Costos por 1 hectárea</h1>

    <div class="panel-resumen compacto">

      <!-- CONFIGURACIÓN -->
      <div class="panel-config">
        <label>
          Hectáreas
          <input type="number" min="1" [(ngModel)]="hectareas" (ngModelChange)="cambiarHectareas($event)" />
           <!-- ETIQUETA DINÁMICA -->
  <span class="etiqueta-producto" [ngClass]="tipoProducto.clase">
    {{ tipoProducto.texto }}
  </span>
        </label>

        <label>
          Quintales / ha
          <input type="number" min="1" [(ngModel)]="quintalesHa" (ngModelChange)="cambiarQuintalesHa($event)" />
        </label>

        <label>
          Margen
          <input type="number" step="0.01" min="0" max="0.99" [(ngModel)]="margenError"
            (ngModelChange)="cambiarMargen($event)" />
        </label>

        <div class="costo-quintal">
          Costo por quintal:
          <strong>${{ costoPorQuintal | number:'1.2-2' }}</strong>
        </div>

        <div class="quintales-info">
          <div>Quintales totales: <strong>{{ quintalesTotales | number:'1.0-2' }}</strong></div>
          <div>Porcentaje de error ({{ (margenError * 100) | number:'1.0-0' }}%): <strong>{{ quintalesMerma |
              number:'1.0-2'
              }}</strong></div>
          <div>Quintales reales: <strong>{{ quintalesReales | number:'1.0-2' }}</strong></div>
        </div>

      </div>

      <!-- HERO COMPACTO -->
      <div class="hero-metrica compacto">
        <span>Costo total por 1 hectárea</span>
        <strong>${{ costo1Ha | number:'1.2-2' }}</strong>
        <small>Total estimado para {{ hectareas }} ha</small>
        <strong>${{ costoTotal | number:'1.2-2' }}</strong>
      </div>


      <!-- PROGRESO GLOBAL -->
      <div class="progreso-global compacto">
        <app-progreso-radial [porcentaje]="progresoGlobal">
        </app-progreso-radial>
        <!-- <p>{{ progresoGlobal }}%</p> -->
      </div>

    </div>
  </header>

  <!-- FASES -->
  <section class="fases-grid">
    <!-- <app-fase *ngFor="let fase of fases" [fase]="fase" (faseActualizada)="onFaseActualizada($event)"> -->
    <app-fase *ngFor="let fase of fases" [fase]="fase" [hectareas]="hectareas"
      (faseActualizada)="onFaseActualizada($event)">
    </app-fase>


  </section>

</div>
