html, body {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;              /* ⬅️ ESTA LÍNEA ES LA MAGIA */
  background: #f7f7f7;
}
